{% extends "base.html" %}

{% block content %}

<h3>LEADERBOARD</h3>

<p>
    You may view how all users do on different difficulties of sudoku. You may select from which difficulty you want to view a leaderboard from. Games are ranked by the time taken to complete a game. All games are completed.
</p>

<input class="btn btn-success" type="submit" value="EASY">
<input class="btn btn-warning" type="submit" value="MEDIUM">
<input class="btn btn-primary" type="submit" value="HARD">
<input class="btn btn-danger" type="submit" value="INSANE">

{% endblock content %}
