{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-8">
        <div id="puzzle"></div>
    </div>
    <div class="col-4">
        <div class="text-center">
            {% if state.time_end is none %}
            <h4>Time:</h4>
            <div id="timer"> {{ time - state.time_start }}</div>
            {% else %}
            <h5>You have completed this puzzle!</h5>
            <p>Your time was {{ state.time_end - state.time_start }} seconds</p>
            {% endif %}
        </div>
        <hr>
        <div>
            <h5> How to Play </h5>
            <p>
                0. Know <a href="https://sudoku.com/how-to-play/sudoku-rules-for-complete-beginners/" target="_blank"> how to play sudoku</a>
            </p>
            <p>
                1. Hover your mouse over a tile and press any number from 1-9 to PLACE a number
            </p>
            <p>
                2. Hold the SHIFT key and press any number from 1-9 while hovering your mouse over a tile to MARK a number
            </p>
            <p>
                3. Once you're done, press the "I'm done" button below.
            </p>
            <p>
                4. Your work is saved automatically and the timer is calulacted server-side, so don't try to cheat.
            </p>
        </div>

        {% if state.time_end is none %}
        <hr>
        <div class="text-center">
            <button class="btn btn-info" onclick="check_board()">I'm done. Check my work</button>
        </div>
        {% endif %}

    </div>
</div>

<br>

{% endblock content %}

{% block js %}

<script>
    let BOARD_UUID = "{{sudoku.uuid}}";
    let preset_numbers = "{{ sudoku.unsolved_str }}";
    let saved_numbers = "{{ state.number_str }}";
    let saved_pencilmarks = "{{ state.pencilmark_str }}";

    let check_board = () => {
        check_board_correct("#puzzle", "{{sudoku.uuid}}");
    }

    window.setInterval(() => {
        let timer = $("#timer");
        let val = parseInt(timer.text());
        timer.text(val + 1);
    }, 1000);

    $(document).ready(() => {
        // start the board
        initialize_board("#puzzle");

        // load preset numbers
        load_preset_numbers('#puzzle', preset_numbers);

        // recover state
        recover_save_state('#puzzle', saved_numbers, saved_pencilmarks);

        window.setInterval(() => {
            save_board_state('#puzzle', "{{sudoku.uuid}}");
        }, 1000);
    });
</script>

{% endblock js %}