#puzzle table {
    margin: 1em auto;
}

#puzzle td {
    height: 60px;
    width: 60px;
    border: 1px solid;
    padding: 0;
    margin: 0;
}

#puzzle td .pencil-marks {

    width: 60px;
    height: 60px;

    font-size: 20px;

    color: grey;

}

#puzzle td .pencil-marks span {

    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

#puzzle td .pencil-marks span:first-child {
    transform: translate(0px, -4px);
}

#puzzle td .pencil-marks span:nth-child(2) {
    transform: translate(20px, -4px);
}

#puzzle td .pencil-marks span:nth-child(3) {
    transform: translate(40px, -4px);
}

#puzzle td .pencil-marks span:nth-child(4) {
    transform: translate(0px, 16px);
}

#puzzle td .pencil-marks span:nth-child(5) {
    transform: translate(20px, 16px);
}

#puzzle td .pencil-marks span:nth-child(6) {
    transform: translate(40px, 16px);
}

#puzzle td .pencil-marks span:nth-child(7) {
    transform: translate(0px, 36px);
}

#puzzle td .pencil-marks span:nth-child(8) {
    transform: translate(20px, 36px);
}

#puzzle td .pencil-marks span:nth-child(9) {
    transform: translate(40px, 36px);
}

#puzzle td .actual-number {
    position: absolute;
    text-align: center;
    font-size: 60px;
    width: 60px;
    transform: translateY(-48px);
    color: gray;
}

#puzzle td:first-child {
    border-left: solid;
}

#puzzle td:nth-child(3n) {
    border-right: solid;
}

#puzzle tr:first-child {
    border-top: solid;
}

#puzzle tr:nth-child(3n) td {
    border-bottom: solid;
}

#puzzle .permanent {
    color: black !important;
}